.public-sidebar {
  position: relative;
  background-color: var(--color-primary-dark-gray);
  padding-inline: 12px;
  padding-block: 21px 12px;
  border-radius: var(--border-radius-medium);
  user-select: none;
}

@media (width < 1024px) {
  .public-sidebar {
    display: none;
  }

  .public-sidebar.open {
    display: block flow;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 275px;
    z-index: 1000;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 0;
  }
}

.public-sidebar-title {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  line-height: var(--leading-none);
  font-weight: var(--font-weight-x-bold);
  letter-spacing: 0.025em;
  color: var(--color-primary-white);
  background-color: var(--color-primary-dark-gray);
  padding-inline: 10px;
}

.public-sidebar-container {
  height: 100%;
  border: var(--border-large);
  border-radius: var(--border-radius-small);
}

.public-sidebar-nav {
  height: 100%;
}

.public-sidebar-list {
  display: block grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto 1fr;
  grid-template-areas:
    "item1"
    "item2"
    "item3"
    "item4"
    ".";
  gap: 20px;
  padding-block: 30px 25px;
  height: 100%;
}

/* 各アイテムの配置を指定 */
.public-sidebar-list > li:nth-child(1) {
  grid-area: item1;
}

.public-sidebar-list > li:nth-child(2) {
  grid-area: item2;
}

.public-sidebar-list > li:nth-child(3) {
  grid-area: item3;
}

.public-sidebar-list > li:nth-child(4) {
  grid-area: item4;
}

.overlay {
  display: none;
}

@media (width < 1024px) {
  .overlay {
    display: block flow;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
}
