.profile-title {
	position: absolute;
	top: 8px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 1.5rem;
	line-height: var(--leading-none);
	font-weight: var(--font-weight-x-bold);
	letter-spacing: 0.025em;
	color: var(--color-primary-white);
	background-color: var(--color-primary-dark-gray);
	padding-block: 0 10px;
	padding-inline: 10px;
	z-index: 10;

	@media (width < 768px) {
		font-size: 1.25rem;
		line-height: var(--leading-x-tight);
	}
}

.profile-container {
	height: 100%;
	display: block grid;
	border: var(--border-large);
	border-radius: var(--border-radius-small);
	padding-block-start: 40px;

	@media (width < 768px) {
		padding-block-start: 25px;
	}
}

.profile-info-container {
	display: block grid;
	grid-template-rows: auto 1fr;
	grid-template-areas:
		"header"
		"info";
	overflow-y: auto;
}

.profile-info-header {
	grid-area: header;
	display: block grid;
	gap: 25px;
	padding-inline: 20px;
}

.connection-info-container {
	grid-area: info;
	display: block grid;
	grid-template-rows: auto 1fr auto auto;
	grid-template-areas:
		"zenn-connection-info"
		"."
		"button-container"
		"message";
	gap: 25px;
	padding-block: 25px;
	padding-inline: 20px;
	overflow-y: scroll;
}

.connection-info-zenn {
	grid-area: zenn-connection-info;
}

.connection-info-button-container {
	grid-area: button-container;
	display: block grid;
	gap: 25px;
}

.connection-info-message-container {
	grid-area: message;
}

.connection-container {
	grid-template-rows: auto auto auto 1fr;
}

.auth-content {
	display: block grid;
	grid-template-columns: 1fr;
	gap: 20px;
	width: 100%;
	max-width: 500px;
	margin-inline: auto;
}

.connection-detail-link {
	font-size: 0.875rem;
	font-weight: var(--font-weight-bold);
	color: var(--color-primary-white);
	display: block flow;
	position: relative;
	padding-block-end: 3px;
	padding-inline: 3px;
	transition: text-shadow 0.1s ease-in-out;

	&:hover {
		text-shadow: 0 0 8px rgb(255 255 255 / 0.5);

		&::before {
			opacity: 1;
		}
	}

	&::before {
		position: absolute;
		content: "";
		background-image: url(/images/arrow/arrow-icon.svg);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		width: 15px;
		height: 15px;
		top: 50%;
		left: -18px;
		transform: translateY(-50%) rotate(180deg);
		opacity: 0;
		transition: opacity 0.1s ease-in-out;
	}

	&::after {
		position: absolute;
		bottom: 0;
		left: 0;
		content: "";
		width: 100%;
		height: 1px;
		background-color: var(--color-primary-white);
		bottom: 0;
		left: 0;
	}
}
