.profile-title {
	position: absolute;
	top: 8px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 1.5rem;
	line-height: var(--leading-none);
	font-weight: var(--font-weight-x-bold);
	letter-spacing: 0.025em;
	color: var(--color-primary-white);
	background-color: var(--color-primary-dark-gray);
	padding-block: 0 10px;
	padding-inline: 10px;
	z-index: 10;

	@media (width < 768px) {
		font-size: 1.25rem;
		line-height: var(--leading-x-tight);
	}
}

.profile-container {
	height: 100%;
	display: block grid;
	border: var(--border-large);
	border-radius: var(--border-radius-small);
	padding-block-start: 40px;

	@media (width < 768px) {
		padding-block-start: 25px;
	}
}

.profile-info-container {
	display: block grid;
	grid-template-rows: auto 1fr;
	grid-template-areas:
		"header"
		"info";
	overflow-y: auto;
}

.profile-info-header {
	grid-area: header;
	display: block grid;
	gap: 25px;
	padding-inline: 20px;
}

.connection-info-container {
	grid-area: info;
	display: block grid;
	grid-template-rows: auto 1fr auto auto;
	grid-template-areas:
		"zenn-connection-info"
		"."
		"button-container"
		"message";
	gap: 25px;
	padding-block: 25px;
	padding-inline: 20px;
	overflow-y: scroll;
}

.connection-info-zenn {
	grid-area: zenn-connection-info;
}

.connection-info-button-container {
	grid-area: button-container;
	display: block grid;
	gap: 25px;
}

.connection-info-message-container {
	grid-area: message;
}
