.item-detail-page-title {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  line-height: var(--leading-none);
  font-weight: var(--font-weight-x-bold);
  letter-spacing: 0.025em;
  color: var(--color-primary-white);
  background-color: var(--color-primary-dark-gray);
  padding-block: 0 10px;
  padding-inline: 10px;
  z-index: 10;
}

.item-detail-container {
  height: 100%;
  display: block grid;
  grid-template-rows: 1fr auto auto;
  border: var(--border-large);
  border-radius: var(--border-radius-small);
  padding-block: 40px 25px;
  color: var(--color-primary-white);
}
