.audio-button {
  width: 50px;
  height: 50px;
  display: block grid;
  place-items: center;
  background-color: var(--color-primary-brown-dark);
  border: 4px dashed var(--color-primary-brown-light);
  box-shadow: var(--cmp-primary-shadow);
  border-radius: 50%;
  backdrop-filter: blur(5px);
  transition: var(--transition-box-shadow);
  z-index: 9999;

  &:hover {
    .audio-button-icon-box {
      border: 1.5px solid var(--color-primary-yellow);
    }

    .audio-mute {
      opacity: 1;
    }
  }
}

.audio-mute {
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}

.audio-button-icon-box {
  display: block grid;
  place-items: center;
  background-color: var(--color-primary-brown);
  border-radius: 50%;
  border: 1.5px solid var(--color-primary-brown-light);
  padding-block: 8px;
  padding-inline: 8px;
  cursor: pointer;
  transition: border 0.2s ease-in-out;
}

/* 音楽再生中（Headphonesアイコン表示時）に黄色のボーダーを適用 */
.audio-button-icon-box:has(.audio-play) {
  border: 1.5px solid var(--color-primary-yellow);
}