.adventure-start-link-container {
	width: fit-content;
	height: auto;
	place-self: end;
	margin-inline: auto;
}

.adventure-start-link-box {
	background-color: #ffac00;
	border: 3px solid var(--color-primary-white);
	border-radius: var(--border-radius-small);
}

.adventure-start-link {
	display: block flex;
	align-items: center;
	gap: 5px;
	border: 3px solid #ffac00;
	padding-block: 12px;
	padding-inline: 15px;
	transition: border 0.2s ease-in-out;

	&:hover {
		border: 3px solid var(--color-primary-black);

		.adventure-start-link-icon {
			transform: translateX(-4px);
		}
	}
}

.adventure-start-link-icon {
	width: 17px;
	height: 17px;
	transition:
		transform 0.15s ease-in-out,
		filter 0.15s ease-in-out;
}

.adventure-start-link-text {
	font-size: 1rem;
	font-weight: var(--font-weight-x-bold);
	line-height: var(--leading-none);
	text-shadow: 1px 1px 1px var(--color-primary-black);
}
