.title {
  position: relative;
  z-index: 100;
  display: block flex;
  gap: 28px;
  font-weight: var(--font-weight-x-bold);
  line-height: var(--leading-none);
  color: var(--color-primary-beige);

  @media (width < 1024px) {
    scale: 0.6;
  }

  @media (width < 768px) {
    scale: 0.4;
  }
}

.active-title {
  .title {
    transition: text-shadow 4s ease-in-out, scale 4s ease-in-out;
    text-shadow: 1px 1px 0 var(--color-primary-brown-dark),
      2px 2px 0 var(--color-primary-brown-dark),
      3px 3px 0 var(--color-primary-brown-dark),
      4px 4px 0 var(--color-primary-brown-light),
      5px 5px 0 var(--color-primary-brown),
      6px 6px 0 var(--color-primary-brown-light),
      7px 7px 0 var(--color-primary-brown),
      8px 8px 0 var(--color-primary-brown-light),
      9px 9px 0 var(--color-primary-brown),
      10px 10px 0 var(--color-primary-brown-light),
      11px 11px 0 var(--color-primary-brown),
      12px 12px 0 var(--color-primary-brown-light),
      12.4px 12.4px 0px rgb(255 255 255), 0px 0px 5px rgb(255 255 255);
    scale: 1.3;

    @media (width < 1280px) {
      scale: 1;
    }

    @media (width < 1024px) {
      scale: 0.8;
    }

    @media (width < 768px) {
      text-shadow: 1px 1px 0 var(--color-primary-brown-dark),
        2px 2px 0 var(--color-primary-brown-dark),
        3px 3px 0 var(--color-primary-brown-dark),
        4px 4px 0 var(--color-primary-brown-light),
        5px 5px 0 var(--color-primary-brown),
        6px 6px 0 var(--color-primary-brown-light);
    }
  }
}

.title-text-box {
  display: block flex;
  align-items: center;
  letter-spacing: 0.025em;
}

.title-text {
  &.title-text-1 {
    font-size: 12.5rem;

    @media (width < 1024px) {
      font-size: 10rem;
    }

    @media (width < 768px) {
      font-size: 5rem;
    }

    @media (width < 640px) {
      font-size: 3.5rem;
    }
  }
  &.title-text-2 {
    font-size: 10rem;

    @media (width < 1024px) {
      font-size: 7.5rem;
    }

    @media (width < 768px) {
      font-size: 5rem;
    }

    @media (width < 640px) {
      font-size: 3.5rem;
    }
  }
  &.title-text-3 {
    font-size: 9rem;

    @media (width < 1024px) {
      font-size: 7.5rem;
    }

    @media (width < 768px) {
      font-size: 5.7rem;
    }

    @media (width < 640px) {
      font-size: 3.9rem;
    }
  }
  &.title-text-4 {
    font-size: 7.5rem;

    @media (width < 1024px) {
      font-size: 6rem;
    }

    @media (width < 768px) {
      font-size: 5rem;
    }

    @media (width < 640px) {
      font-size: 3.5rem;
    }
  }
  &.title-text-5 {
    font-size: 6.5rem;

    @media (width < 1024px) {
      font-size: 5rem;
    }

    @media (width < 768px) {
      font-size: 5rem;
    }

    @media (width < 640px) {
      font-size: 3.5rem;
    }
  }
  &.title-text-6 {
    font-size: 6.5rem;

    @media (width < 1024px) {
      font-size: 5rem;
    }

    @media (width < 768px) {
      font-size: 5.7rem;
    }

    @media (width < 640px) {
      font-size: 3.9rem;
    }
  }
  &.title-text-7 {
    font-size: 6.5rem;

    @media (width < 1024px) {
      font-size: 5rem;
    }

    @media (width < 768px) {
      font-size: 5rem;
    }

    @media (width < 640px) {
      font-size: 3.5rem;
    }
  }
  &.title-text-8 {
    font-size: 7.5rem;

    @media (width < 1024px) {
      font-size: 6rem;
    }

    @media (width < 768px) {
      font-size: 5rem;
    }

    @media (width < 640px) {
      font-size: 3.5rem;
    }
  }
  &.title-text-9 {
    font-size: 8.5rem;

    @media (width < 1024px) {
      font-size: 6rem;
    }

    @media (width < 768px) {
      font-size: 5rem;
    }

    @media (width < 640px) {
      font-size: 3.5rem;
    }
  }
  &.title-text-10 {
    font-size: 10rem;

    @media (width < 1024px) {
      font-size: 8rem;
    }

    @media (width < 768px) {
      font-size: 5rem;
    }

    @media (width < 640px) {
      font-size: 3.5rem;
    }
  }
  &.title-text-11 {
    font-size: 12.5rem;

    @media (width < 1024px) {
      font-size: 10rem;
    }

    @media (width < 768px) {
      font-size: 5.7rem;
    }

    @media (width < 640px) {
      font-size: 3.9rem;
    }
  }
}
